


*{padding: 0; margin: 0;font-family:"Arial";}

.logo img{width: 40px; height: 40px; border-radius: 50%;}

.navbar-nav{font-weight: 600;position: relative;margin-left: auto;}






.navbar-nav a{color: rgba(20, 20, 20, 0.8);text-align: right;}

.navbar-nav a:hover{border-bottom: solid 3px rgb(243, 63, 50);transition: .5s;border-radius: 10px;}

.contentBody{background-image: url("../images/carosell2.jpg");height: 500px;
width: 100%;background-size:100% 500px;color: rgb(10, 10, 10);}


.home-content{text-align: center;padding-top: 240px;
    font-weight: 600;width: 70%;margin: auto; font-size: 18px;}

.home-content button{width: 150px;} 

.section-header{margin-top: 70px;}

.section-title:hover{font-size:61px ;transition: 1s;color: rgb(255, 73, 73);}

.section-title{text-align: center;font-size: 60px;}

.line-title{width:30px;height: 10px;background-color: rgb(37, 145, 233);margin: 0 auto 78px auto;}

.line-title:hover{width: 260px;background-color: rgb(243, 60, 60);transition: 2s;border-radius: 5px;}


.about-content-photo{width: 100%;text-align: center;display: flex;
justify-items: center;justify-content: space-between;margin-bottom: 77px;}

.about-photo{width:28%;}

.about-photo i{font-size: 38px;margin-bottom: 30px;color: rgb(17, 169, 240);padding-top: 30px;}

.about-photo__title{margin-bottom: 15px;}

.about-photo:hover{color: aliceblue;}


.rightToleftEffect{position: relative;}

.rightToleftEffect:after{

    position: absolute;
    content: '';
    width: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(0,0,0,.7);
    transition: 1.5s;
    z-index: -1;

}

.rightToleftEffect:hover:after{

    width: 100%;
}

.tbEffect{position: relative;}

.tbEffect:after{

    position: absolute;
    content: '';
    width: 100%;
    height: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(0,0,0,.7);
    transition: 1.5s;
    z-index: -1;

}

.tbEffect:hover:after{

    height: 100%;
}

.mg{margin: 0 42px;}

.about-content-portifolio{width: 100%;float: left;}

.about-portifolio{width: 30%;display: inline-block;margin-bottom: 42px;position: relative;}

.about-portifolio img{width: 100%;height: 370px;}


.layer-content{

    position: absolute;width: 30%;top: 0;left: 0;height: 100%;background-color: rgb(0,0,0,0.5);
     
    opacity: 0;visibility: hidden;transition:   1.5s;padding: 10px;
    
}

.about-portifolio:hover .layer-content{opacity: 1;visibility: visible;width: 100%;border-radius: 5px;}

.layerinfo{
    position: absolute;top: 50%;left: 50%;
    transform: translate(-50% , -50%);padding: 0 10px;width: 85%;text-align: center;

}

.category{display: block;color: rgb(72, 198, 248);text-transform: uppercase;margin-bottom: 10px;font-weight: 600;}


.layer-content-title{color: aliceblue;margin-bottom: 20px;}

.layerinfo a{text-decoration: none;margin: 10px;
    font-size: 25px;display: inline-block;width: 40px;height: 40px;background-color: rgb(55, 136, 241);border-radius: 5px;}

.layerinfo i{line-height: 40px;color: aliceblue;padding: auto;}

.offer-item p{color: rgb(187, 184, 184);}

.offer-item{width: 30%;margin-bottom: 70px;}

.offer-item:hover{color: aliceblue;transition: 1.5s;font-weight: 600;}

.offer-item i{padding: 10px;font-size: 25px;color: rgb(13, 173, 236);}

.offer-item span{font-size: 19px;}



.offer-content{width: 95%;display: flex;
    justify-content: space-between;margin-bottom:20px;padding-left: 50px;}


.offer-title{font-weight: 600;}

.carousel-content-title{font-weight: 600;}

.carousel-content-text{color: rgb(187, 184, 184) ;}

.aboutUs{width: 100%;display: inline;}


.carousel-content{width: 45%;display: inline-block;margin-bottom: 120px;margin-right: 25px;padding: 20px;}

.carousel-content:hover{color: aliceblue;transition: 1.5s;font-weight: 500;}

#carouselExampleControls{width: 40%;position: absolute;display: inline-block;margin-bottom: 120px;margin-left: 25px;}

.numbers{
    position: relative;background-image: url(../images/amirca1.jpg);
    height: 375px;background-size:cover;background-attachment: fixed;
}

.overlay{
    position: absolute;background-color: rgb(0, 0, 0 , 0.6);width: 100%;height: 375px;
}

.numbers-items{overflow: hidden; padding: 117px 0;}

.number-item{width: 25%;float: left;text-align: center;}

.number-item i{color: rgb(52, 130, 247);margin-bottom: 17px;font-size: 40px;}

.number-item-title{color: aliceblue;font-weight: 600;font-size: 30px;margin-bottom:5px;}


.number-item span{font-weight: 600;color: aliceblue;}


.pricing{margin-bottom: 77px;}

.pricing-plans{overflow: hidden;}

.pricing-item{
    width: 30%;float: left;padding: 20px 15px;border: 1px solid rgb(224, 219, 219);
    text-align: center;
}

.pricing-item-text{text-transform: uppercase;font-size: 18px;color: rgb(148, 143, 143);}

.pricing-item-permuth{
    border: 2px solid rgb(10, 89, 236);
    width: 130px;height: 130px;border-radius: 50%;margin: 15px auto;padding: 20px;
    font-weight: 600;font-size:17px;
}

.doller{font-size: 50px;font-weight: 700;}


.pricing-list{
    list-style: none;color: rgb(148, 143, 143);
}

.pricing-list li{
    line-height: 2;
}


.pricing-item:hover{color: aliceblue;font-weight: 600;}




.testmonail{
    position: relative;
    background-image: url(../images/testmonail1.jpg);
    background-attachment: fixed;
    height: 375px;
    margin-bottom: 70px;
  
}

.testmonail-content{
    overflow: hidden;
    padding: 100px 0;
    width: 80%;
    margin: auto;
}


.testmonail-item{width: 50%;float: left;color: aliceblue;padding: 5px;}

.testmonail-toplayer img{
    width: 75px; height: 75px;border-radius: 50%;position: absolute;left: 10px;top: 10px;
}

.testmonail-toplayer{padding: 10px 2px 30px 100px;position: relative;}


.testmonail-toplayer span{color: rgb(61, 125, 245);}

.team{
      margin-bottom: 70px;
}


.team-content{
    overflow: hidden;
}

.team-item{
    width: 30%;float: left;background-color: #e9e9e9;padding: 40px 20px;
    text-align: center;
}


.team-img{
      width: 90%;margin: auto;
      position: relative;
      height: 280px;
}

.team-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
}

.team-overlay a{
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgb(34, 153, 233);
    color: rgb(235, 241, 245);
    margin-left: auto;
    
    
}

.team-overlay i{text-align: center;padding-top: 10px;}

.team-item:hover .team-overlay{
    visibility: visible;
    opacity: 1;
}

.team-item.tbEffect{
    z-index: 1;
}

.team-overlay i{line-height: auto;font-size: 20px;}

.team-img img{
    width: 100%;height: 280px;
}

.team-info-title{
    color: #222;
    margin: 10px 0;
}

.team-info-text{
    color: #999;
    text-transform: uppercase;
    font-size: 14px;
}


.team-item:hover .team-info-title{color: rgb(247, 247, 247);}


.team-item:hover .team-info-text{color: rgb(61, 125, 245);}


.footer {

    text-align: center;
    background-color: #222;
    padding: 20px 0;
    color: #e9e9e9;
}

.footer img{
    width: 363px;
    height: 100px;
    margin-bottom: 30px;
    margin-top: 10px;
    border-radius: 10px;
}

.footer-links{
    list-style: none;

}

.footer-links li{
    display: inline-block;
    
}

.footer-links a{

    display: inline-block;
    width: 50px;
    height: 50px;
    color: rgb(224, 216, 216);
    background-color: rgb(61, 125, 245);
    border-radius: 5px;
    
}

.footer-links i{line-height: 50px;}




















